In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from calendar import monthrange

In [3]:
# таблица с уникальными идентификаторами пользователей

#customer_id — позаказный идентификатор пользователя
#customer_unique_id —  уникальный идентификатор пользователя  (аналог номера паспорта)
#customer_zip_code_prefix —  почтовый индекс пользователя
#customer_city —  город доставки пользователя
#customer_state —  штат доставки пользователя

olist_customers_dataset = pd.read_csv('C:/Users/super/git_clone/PetProject-/datasets/olist_customers_dataset.csv')

In [4]:
olist_customers_dataset.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
#olist_orders_dataset.csv —  таблица заказов

#order_id —  уникальный идентификатор заказа (номер чека)
#customer_id —  позаказный идентификатор пользователя
#order_status —  статус заказа
#order_purchase_timestamp —  время создания заказа
#order_approved_at —  время подтверждения оплаты заказа
#order_delivered_carrier_date —  время передачи заказа в логистическую службу
#order_delivered_customer_date —  время доставки заказа
#order_estimated_delivery_date —  обещанная дата доставки4

olist_orders_dataset = pd.read_csv('C:/Users/super/git_clone/PetProject-/datasets/olist_orders_dataset.csv')

In [7]:
olist_orders_dataset.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [8]:
#olist_order_items_dataset.csv —  товарные позиции, входящие в заказы

#order_id —  уникальный идентификатор заказа (номер чека)
#order_item_id —  идентификатор товара внутри одного заказа
#product_id —  ид товара (аналог штрихкода)
#seller_id — ид производителя товара
#shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике
#price —  цена за единицу товара
#freight_value —  вес товара

olist_order_items_dataset = pd.read_csv('C:/Users/super/git_clone/PetProject-/datasets/olist_order_items_dataset.csv')

In [9]:
olist_order_items_dataset.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [10]:
# Сколько у нас пользователей, которые совершили покупку только один раз?

In [11]:
olist_orders_dataset = olist_orders_dataset.merge(olist_customers_dataset[['customer_id', 'customer_unique_id']], on = 'customer_id')

In [12]:
olist_orders_dataset\
    .groupby('customer_unique_id', as_index = False)\
    .agg({'order_id': 'count'})\
    .sort_values('order_id', ascending = False)\
    .query('order_id == 1')\
    .customer_unique_id.count()

93099

In [13]:
# Сколько заказов в месяц в среднем не доставляется по разным причинам (вывести детализацию по причинам)?

In [14]:
olist_orders_dataset['reason_of_cancel'] = ''
olist_orders_dataset.loc[
    (olist_orders_dataset.order_status == 'canceled')
    &(olist_orders_dataset.order_approved_at.isna()), 
    'reason_of_cancel'
] = 'no_order_approved_at'
olist_orders_dataset.loc[
    (olist_orders_dataset.order_status == 'canceled')&
    (olist_orders_dataset.order_delivered_carrier_date.isna())&
    (olist_orders_dataset.reason_of_cancel == ''), 'reason_of_cancel'
] = 'no_order_delivered_carrier_date'
olist_orders_dataset.loc[
    (olist_orders_dataset.order_status == 'canceled')&
    (olist_orders_dataset.order_delivered_customer_date.isna()) &
    (olist_orders_dataset.reason_of_cancel == ''), 'reason_of_cancel'
] = 'no_order_delivered_customer_date'
olist_orders_dataset.loc[
    (olist_orders_dataset.order_status == 'canceled')&
    (olist_orders_dataset.reason_of_cancel == ""), 'reason_of_cancel'
] = 'unknow_reason'
olist_orders_dataset.loc[olist_orders_dataset.order_status == 'unavailable', 'reason_of_cancel'] = 'unavailable'

In [15]:
olist_orders_dataset.order_purchase_timestamp = pd.to_datetime(
    olist_orders_dataset.order_purchase_timestamp, format = '%Y-%m-%d %H:%M:%S'
)

In [16]:
olist_orders_dataset['month_and_year']= olist_orders_dataset.order_purchase_timestamp.apply(
    lambda x: datetime.strftime(x, '%B, %Y')
)

In [17]:
(olist_orders_dataset
    .query("reason_of_cancel != ''")
    .groupby(['month_and_year'], as_index = False)
    .agg({'order_id': 'count'})
    .order_id.mean()
)

51.416666666666664

In [18]:
(olist_orders_dataset
    .query("reason_of_cancel != ''")
    .groupby(['reason_of_cancel'], as_index = False)
    .agg({'order_id': 'count'})
)

                   reason_of_cancel  order_id
0              no_order_approved_at       141
1   no_order_delivered_carrier_date       409
2  no_order_delivered_customer_date        69
3                       unavailable       609
4                     unknow_reason         6

In [19]:
(olist_orders_dataset
    .query("reason_of_cancel != ''")
    .groupby(['reason_of_cancel', 'month_and_year'])
    .agg({'order_id': 'count'})
    .groupby('reason_of_cancel')
    .agg({'order_id': 'mean'})
    .reset_index()
    .rename(columns={'order_id': 'mean_by_month'})
)

                   reason_of_cancel  mean_by_month
0              no_order_approved_at       6.714286
1   no_order_delivered_carrier_date      18.590909
2  no_order_delivered_customer_date      17.250000
3                       unavailable      29.000000
4                     unknow_reason       3.000000

In [20]:
# По каждому товару определить, в какой день недели товар чаще всего покупается.

In [21]:
olist_orders_dataset['day_of_week'] = olist_orders_dataset.order_purchase_timestamp.apply(
    lambda x: datetime.strftime(x, '%a'))
olist_order_items_dataset = olist_order_items_dataset.merge(
    olist_orders_dataset[['order_id', 'day_of_week']], how = 'left', on = 'order_id')

(
olist_order_items_dataset
    .groupby(['product_id', 'day_of_week'], as_index = False)
    .agg({'order_id': 'count'})
    .groupby(['product_id', 'day_of_week'])
    .agg({'order_id': 'max'})
    .reset_index()
    .sort_values(['product_id', 'day_of_week'])
    .drop_duplicates(subset = ['product_id'])
    .drop('order_id', axis=1)
)

                             product_id day_of_week
0      00066f42aeeb9f3007548bb9d3f33c38         Sun
1      00088930e925c41fd95ebfe695fd2655         Tue
2      0009406fd7479715e4bef61dd91f2462         Thu
3      000b8f95fcb9e0096488278317764d19         Fri
5      000d9be29b5207b54e86aa1b1ac54872         Tue
...                                 ...         ...
61221  fff6177642830a9a94a0f2cba5e476d1         Sat
61223  fff81cc3158d2725c0655ab9ba0f712c         Mon
61224  fff9553ac224cec9d15d49f5a263411f         Fri
61225  fffdb2d0ec8d6a61f0a0a0db3f25b441         Fri
61229  fffe9eeff12fcbd74a2f2b007dde0c58         Wed

[32951 rows x 2 columns]

In [22]:
# 4. Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)?
# Не стоит забывать, что внутри месяца может быть не целое количество недель.
# Например, в ноябре 2021 года 4,28 недели. И внутри метрики это нужно учесть.

In [23]:
df = (
olist_orders_dataset
    .groupby(['customer_unique_id', 'month_and_year'])
    .agg({'order_id': 'count'})
    .sort_values('order_id', ascending = False)
    .reset_index()
)
df['m_n_y'] = pd.to_datetime(df['month_and_year'], format = '%B, %Y')
df['year'] = df['m_n_y'].dt.year
df['month'] = df['m_n_y'].dt.month
df['num_of_weeks'] = (df[['year', 'month']].apply(lambda x: monthrange(x['year'], x['month'])[1], axis = 1))/7
df = df.drop(columns=['m_n_y', 'year', 'month'])
df['order_id'] = df['order_id']/df['num_of_weeks']
df = df.rename(columns={'order_id': 'purchases_per_week'})
df = df.drop('num_of_weeks', axis = 1)
df

                     customer_unique_id   month_and_year  purchases_per_week
0      12f5d6e1cbf93dafd9dcc19095df0b3d    January, 2017            1.354839
1      c8460e4251689ba205045f3ea17884a1     August, 2018            0.903226
2      b4e4f24de1e8725b74e4a1f4975116ed   February, 2018            1.000000
3      83e7958a94bd7f74a9414d8782f87628    January, 2017            0.903226
4      b08fab27d47a1eb6deda07bfd965ad43  September, 2017            0.933333
...                                 ...              ...                 ...
98041  55a08a9545274dc36a0c5804389217d4      March, 2017            0.225806
98042  55a03f067a142cdde9f79f95a161b257    January, 2018            0.225806
98043  559df1e714566692202143c82bf531ca      March, 2018            0.225806
98044  559c99ed25c0bfe03e2e037c3205e9b6  September, 2017            0.233333
98045  ffffd2657e2aad2907e67c3e9daecbeb        May, 2017            0.225806

[98046 rows x 3 columns]

In [24]:
# 5.Используя pandas, проведи когортный анализ пользователей.
# В период с января по декабрь выяви когорту с самым высоким retention на 3й месяц.

In [25]:
df_cohort = olist_orders_dataset

In [26]:
# создаем столбец, отображающий месяц первой покупки пользователя
df_cohort['cohort_month'] = df_cohort.groupby('customer_unique_id')['order_purchase_timestamp'].transform('min').dt.to_period('M')

# определяем lifetime для каждой покупки в месяцах с момента первой покупки
df_cohort['lifetime'] = (df_cohort['order_purchase_timestamp'] - df_cohort['cohort_month'].dt.to_timestamp()).dt.days // 30

# группируем пользователей по когортам и lifetime
cohorts = df_cohort.groupby(['cohort_month', 'lifetime']).agg({'customer_unique_id': pd.Series.nunique}).reset_index()

# создаем сводную таблицу, где на пересечении месяца когорты и lifetime отображается количество уникальных пользователей
cohorts_pivot = cohorts.pivot_table(index='cohort_month', columns='lifetime', values='customer_unique_id')

# определяем размер каждой когорты
cohort_sizes = cohorts_pivot.iloc[:, 0]

# вычисляем retention rate для каждой когорты и lifetime
retention = cohorts_pivot.divide(cohort_sizes, axis=0)

In [27]:
# выделяем когорты, образованные в 2017 году
cohorts_2017 = retention.loc['2017']

# находим retention rate на 3-й месяц для каждой когорты
retention_3rd_month = cohorts_2017.iloc[:, 3]

# находим когорту с максимальным retention rate на 3-й месяц
highest_retention_cohort = retention_3rd_month.idxmax()

# выводим результаты
print(f'Когорта с самым высоким retention rate на 3-й месяц: {highest_retention_cohort}')

Когорта с самым высоким retention rate на 3-й месяц: 2017-06